body {
    background-color:bisque;
}

.main {
    padding-left: 500px;
    padding-right: 400px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

img {
    /* height: 200px;
    width: 200px; */
    border-radius: 19px;
    margin: auto;
    max-width: 100%;
}

audio {
    border-radius: 19px;
}